h1, h2, h3, h4, h5, h6, ul, li, a, input {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
};

a, li, input {
    font-family: 'Source Sans Pro', sans-serif;
};

.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

input[type="search"], input[type="submit"] {
    -webkit-appearance: none;
    border-radius: 0;
}




$primaryColour: #96e6b3;
$secondaryColour: #a3e7fc;
$accentColour: #2f0601;

@mixin primaryFont($size) {
        font-size: $size;
        color: $primaryColour;
        text-shadow: 2px 2px 3px black;
        margin-bottom: 20px;
        text-transform: capitalize;
}

@media (max-width: 517px) {
    .wrapper {
        width: 80%;
    }
}