.mainContent {
    position: relative;
    padding-top: 7vh;
    padding-bottom: 8vh;
    display: none;
    .pageButton{
        border: none;
        background-color: rgba(0,0,0,0);
        font-size: 6rem;
        color: #2f0601;
        position: fixed;
        // position: absolute;
        top: 50vh;
        // opacity: 0;
        display:none;
        transform: translateY(-50%);
        &--next {
            right: 15px;
        }
        &--prev {
            left: 15px;
        }
    }

    .nutrientList {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        letter-spacing: 1px;
        justify-content: space-around;
        // text-align: center;
        &__Container {
        width: calc(33.33% - 20px);
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        }
        &__header {
            flex-grow: 1;
            height: 200px;
        }
        li {
            list-style: none;
        }
        &__FoodName {
            font-size: 2.7rem;
            margin-bottom: 10px;
            text-align: center;
            color: white;
            text-shadow: 2px 2px 3px black;
            line-height: 1.3;
            height: 100%;
            font-family: 'Playfair Display', serif;
            text-transform: uppercase;
            background: url(../assets/food-label-background.jpg);
            // Photo by Carissa Gan on Unsplash: https://unsplash.com/photos/KSXvrqKUxnc
            background-size: cover;
            background-position: center;
            &--overlay {
                background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4));
                padding: 25px;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
        }
                &Block {
            display:none;
        }
    }

    .nutrientLabel {
        border: 1px solid black;
        border-top: none;
        padding: 20px;
        padding-top: 40px;
        height: 370px;
        &__Title {
            font-size: 2.2rem;
            text-transform: uppercase;
            font-weight: bold;
        }
        &__Serving {
            margin: 5px 0;
        }
        hr {
            margin-right: 10px;
            border-top: 5px solid #000;
        }
        &__Nutrient {
            letter-spacing: 2px;
            line-height: 1.6;
            font-weight: bold;
            display: flex;
            justify-content: space-between;
            &--indent {
                padding-left: 30px;
                font-weight: normal;
            }
            &--measurement {
                font-weight: normal;
                display: inline-block;
                padding-right: 10px;
            }
        }
    }
    .errorText {
        text-align: center;
        color: #2f0601;
    }
}